*.txt
*.zip
*.tar.gz
*.tar.xz
*.7z
*.rar
*.jpg
*.jpeg
*.png

amule/
clash/
dvd-beifen/
sai/
vimwiki/
ass/
curl/
ham/
snap/
vimwiki_html/
bin/
dev/
dev2/
iso/
ssh/
win7/
bt/
download/
pal/
tmp/
模板/
音乐/
视频/
桌面/
图片/
文档/
下载/
公共的/

