*.sh
*.txt
*.zip
*.tar.gz
*.tar.xz
*.7z
*.rar
*.jpg
*.JPG
*.jpeg
*.png
*.pdf
*.ass
*.odt
*.key
*.tif
*.xcf
*.doc
*.torrent

amule/
clash/
dvd-beifen/
sai/
vimwiki/
ass/
curl/
ham/
snap/
vimwiki_html/
dev/
dev2/
iso/
ssh/
win7/
bt/
download/
pal/
tmp/
image/
photo/
soft/
模板/
音乐/
视频/
桌面/
图片/
文档/
下载/
公共的/

